*.iml
.gradle
/.gradle
/local.properties
*.idea
/.idea
/.idea/gradle.xml
/.idea/music.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/App/debug/
/App/release/
signing.properties
local.properties
/app/apks/
/app/qa
/room_database/roomdatabase
app/prod/debug/
local_lib/ktv_lib/build/
*.apk
*.json
